<mat-toolbar color="primary">
  <span>ComaScale | Glassgow Coma Scale Made Easy</span>
  <span class="spacer"></span>
  <button matTooltip="Share this page!" mat-icon-button aria-label="A icon-button for donations to the creator.">
    <mat-icon>share</mat-icon>
  </button>
  <button matTooltip="Consider donating if you like this project!" mat-icon-button aria-label="A icon-button for donations to the creator.">
    <mat-icon>emoji_food_beverage</mat-icon>
  </button>
</mat-toolbar>
<div>
  <mat-tab-group>
    <mat-tab label="Home"><app-home></app-home></mat-tab>
    <mat-tab label="About"><app-about></app-about></mat-tab>
    <mat-tab label="Learn"><app-learn></app-learn></mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>
